
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prashar Lake Guest House</title>
 <meta property="og:image" content="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530824343/IMG-20180629-WA0010-03.jpg"/>  


<% include partials/header.ejs %>




    
   
   
<div class="ui one column grid">
  <div class="column">

      
      
           <div class="ui two stackable cards" style="margin-top:10px;">
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530511845/1HO9FHomNViXzjgICJntwE3v98I66jKRV70T_SVePECQvyPH_OobidpLY1Bg0nyO6o1uP7P5SGi9BU13IbUz88a1H-EHSibE3I6HwQ_w1280-h960-rw-no.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530511897/YALi6l08ToeNGf-8qhrZvdjzT0Ig8JtYVNUCpuWki913nKKqcSGJ61fLhnnd9nd5Ey7J7HhAteJSFhzZyZRdSlz2NdMIu8ld85HMpA_w1280-h960-rw-no.jpg">
    </div>
  </div>
   <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530511871/_p92F9wCZKt33FGJKx7hdNiYcvkZYLh810gqxEm6IHSFSENTHB7Uz_FoqLQLIc46bjvfipHhuzNItEFSp4rFKyWQo02f05vVKikXXA_w960-h1280-rw-no.jpg">
    </div>
  </div>
      <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530511919/nSNdJROUSW9VhWOUGSrw7QDayuQxRbwc058gUtyGO9LjyQ6GbwDff40cykhuTduNl6_q3c4IW4wpkIgLkjPqd39QF0GdTzGJlKhXiA_w960-h1280-rw-no.jpg">
    </div>
  </div>

</div>
      <div class="ui raised fluid card" >
      <div class="content" style="font-size:1.1em;">
        <div class="header" style="font-size:2em";>
           PRASHAR LAKE GUEST HOUSE 
       </div> <p><span style="font-size:1.1em;"><i class="map marker alternate fitted orange icon"></i>Near Prashar Lake</span></p>
       
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
        <div style="margin-top:20px; font-size:1.5em;"><strong>Facalities:</strong></div>
        <div style="margin-top:10px;">
<p><i class="check green  outline icon"></i>Outdoor Activities</p>
<p><i class="check green  outline icon"></i>Charging Points</p>
<p><i class="check green  outline icon"></i> Double Size Bed: Accomodates 3 Adults</p>
<p><i class="check green  outline icon"></i>Outdoor Parking Secured</p>
<p><i class="check green  outline icon"></i>Local Tour/ Travel Desk</p>
<p><i class="check green  outline icon"></i>Room Service ( Limited Hours )</p>
<p><i class="check green  outline icon"></i>Restaurant</p>
<p><i class="check green  outline icon"></i>Bike on Rent</p>
<p><i class="check green  outline icon"></i>FREE extra Mattress( on Request )</p>
<p><i class="check green  outline icon"></i>Complimentary Drink -Tea & Soup.</p>
<p><i class="check green  outline icon"></i>NO PARKING CHARGE</p>
<p><i class="check green  outline icon"></i>Locker Facality</p>
<p><i class="check green  outline icon"></i>Heater</p>
<p><i class="check green  outline icon"></i>Laundry Service</p>
<p><i class="check green  outline icon"></i>Power Backup</p>
</div>
      <div style="margin-top:20px; font-size:1.4em;"><strong>Number of Rooms:</strong> 6</div>
      <div style="margin-top:20px; font-size:1.4em;"><strong>Ideal for:</strong> Couples & Friends.</div>


              <div style="margin-top:20px; font-size:1.5em;"><strong>Advisory -</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Avoid heavy packing, travel light.</p>
<p><i class="chevron right icon"></i> Call one hour before, so rooms will be ready for you.</p>


</div>

</div>
    
        <div class="container-fluid" style="font-size:0.5em;">   
  

  </div> 
  </div>
   
           
  <div class="ui centered card">           
<h2 class="ui horizontal divider" style="margin-top:5px; margin-bottom:5px;">
price
  </h2>
            
  <div class="card">
    <div class="content" style="text-align:center; font-size:1.5em;">
    <div class="header"><i class="rupee sign fitted icon"></i> 2000/Night</div>
      
  </div> 
  </div>
</div>
             <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US TO BOOK
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>

<h2 class="ui  divider" style="margin-top:10px; margin-bottom:30px; text-decoration:underline;">

  </h2>            
</div>


<div class="ui three stackable cards">
          <% include partials/camps.ejs %>
  <% include partials/paragliding.ejs %>
      <% include partials/rafting.ejs %>


  </div>


 </div>
  <% include partials/footer.ejs %>
 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b3dcc8df30a3a9b"></script>

</body>
</html>
