
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paragliding</title>
 <meta property="og:image" content="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530906267/IMG-20180621-WA0040-03-03.jpg"/>  




<% include partials/header.ejs %>


          


<div class="ui one column grid">
  <div class="column">

      
           <div class="ui two stackable cards" style="margin-top:10px;">
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530006000/DHBoAjpkGY626YtqpWUVJ5l_U5GsXVLn6aqQN-Z5u_vZ70Al9wBQ2oRhwlVoqUFL0Peod8oT6LzgaVyG0Y1BqwINR5GqmvekCduD_w1280-h720-rw-no.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530005919/tiny_23.jpg">
    </div>
  </div>
 


</div>
 <div class="ui two column stackable padded grid">
    <div class=" column">
       <div class="ui raised fluid card" >
      <div class="content" style="font-size:1.1em;">
        <div class="header" style="font-size:2em";>
            PARAGLIDING  
       </div>  <p><span style="font-size:1.1em;"><i class="map marker alternate fitted orange icon"></i> Kullu</span></p>
       
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
       <div class="ui four column wide grid">
       <div class="item">
      <div style="margin-top:15px; background:bisque; font-size:1.3em; margin-bottom:15px;">
         
       <p><i class="check green  outline icon"></i>Once in a Lifetime Experience</p>
       <p><i class="check green  outline icon"></i>Impeccable Quality Assured</p>
       </div></div> </div>
        <div style="margin-top:20px; font-size:1.5em;"><strong>About the Activity:</strong></div>
        <div style="margin-top:10px;">
<p>Experience an amazing Paragliding ride in the sky of Kullu Valley on with your family and friends. </p>
<p>The equipment you will need is imported from France and are tested for safety. </p>
<p>The take-off site is at Dhobi, which is a new age, offbeat Paragliding site and is now gaining popularity. It is located at about 20 kms from Kullu and you can reach here by either taking a public transport or by hiring a private cab
</p>
<p><strong>Note:</strong> Paragliding flight time depends on wind conditions.</p>

              <div style="margin-top:20px; font-size:1.5em;"><strong>Things To Carry:</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Heavy woolen clothes</p>
<p><i class="chevron right icon"></i>Sunglasses/ Cap</p>
<p><i class="chevron right icon"></i>Thermals for innerwear</p>
<p><i class="chevron right icon"></i>Wind-proof heavy jackets</p>

</div>

             <div style="margin-top:20px; font-size:1.5em;"><strong>Advisory -</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Avoid heavy packing, travel light.</p>
<p><i class="chevron right icon"></i> The maximum weight allowed for the participant is a 100 kg</p>
<p><i class="chevron right icon"></i> Track Pants should be preferred over jeans during the activity</p>
<p><i class="chevron right icon"></i> Wear sturdy proper fitting boots so as to avoid frost bites</p>
</div>





</div>
    

  </div>
  </div>
  </div>
  
        <div class="column">
<div class="ui  container">
  
<div class="ui  comments">
  <h3 class="ui dividing header">Comments</h3>
  <% camp.comments.forEach(function(c){ %>
   <div class="comment">
      <div class="content">
         <div class="author" style="font-size:1.3em;"><%= c.author %></div>
          <div class="text" style="font-size:1.1em;">
       <%= c.text %>
      </div>
        
        </div>
     </div>

    
<% }); %>

<a href="/trek/paragliding/comment/new" class="ui big blue button">Add new comment</a>

</div>
</div>
</div>

  </div>
  
  

  
  <div class="ui centered card">           
<h2 class="ui horizontal divider" style="margin-top:5px; margin-bottom:5px;">
price
  </h2>
            
  <div class="card">
    <div class="content" style="text-align:center; font-size:1.5em;">
    <div class="header"><i class="rupee sign fitted icon"></i> 3000/Adult</div>
      
  </div> 
  </div>
</div>
             <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>

<h2 class="ui  divider" style="margin-top:10px; margin-bottom:30px; text-decoration:underline;">

  </h2>
</div>

<div class="ui three stackable cards">
  <% include partials/camps.ejs %>
      <% include partials/rafting.ejs %>
        <% include partials/guest.ejs %>


  </div>
 </div>
</div>
 <% include partials/footer.ejs %>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b3dcc8df30a3a9b"></script>
       
</body>
</html>

