

<!DOCTYPE html>
<html lang="en">
<head>
  <title> River Rafting
</title>
<meta property="og:image" content="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530906267/IMG-20180621-WA0038-02-01.jpg"/>  
    <meta name="description" content="River Rafting"/>


<% include partials/header.ejs %>


<div class="ui big breadcrumb">
  <a class="section" href="/Camps-Activities">Home</a>
  <div class="divider"> / </div>
  <div class=" active section"> Rafting</div>
   </div>
<div class="ui one column grid">
  <div class="column">

      
      
           <div class="ui two stackable cards" style="margin-top:10px;">
  <div class="card">
    <div class="image">
      <img src="http://res.cloudinary.com/dzdj5vlz4/image/upload/q_80/v1531331147/tiny_jpg_11_compressed.jpg" alt="Rafting_one">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="http://res.cloudinary.com/dzdj5vlz4/image/upload/q_80/v1531331317/tiny_jpg_12.jpg"  alt="Rafting_two">
    </div>
  </div>
 


</div>
      <div class="ui raised fluid card">
       <div class="content" style="font-size:1.1em;">
        <div class="header" style="font-size:2em";>
            RIVER RAFTING  
       </div>  <p><span style="font-size:1.1em;"><i class="map marker alternate fitted orange icon"></i> Bajaura (Near Kullu )</span></p>
       
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
       <div class="ui four column wide grid">
       <div class="item">
         <div class="content">
      <div style="margin-top:15px; background:bisque; font-size:1.3em; margin-bottom:15px;">
         
       <p><i class="check green  outline icon"></i>Once in a Lifetime Experience</p>
       <p><i class="check green  outline icon"></i>Impeccable Quality Assured</p>
       </div>
       </div> 
       </div>
       <div class="item">
           <div class="content">
         <div style="margin-top:15px; background:salmon; font-size:1.3em; margin-bottom:15px;">
         <p>RAFTING is not possible in monsoon season ( 15 July to 15 September).</p>
         </div>
         </div>
       </div>
       </div>
        <div style="margin-top:20px; font-size:1.5em;"><strong>About the Activity:</strong></div>
        <div style="margin-top:10px;">
<p>But why Kullu, though? With rafting trips lasting for as short as 5 km and as long as 9 km, 
the thrills always remain on a high as you negotiate the rapids of the ever torrential waters of 
Beas in Kullu, which further adds to the whole excitement factor of Kullu river rafting. </p>
<p>You'll arrive at Bajaura  and get 
the briefing on the activity. You must listen to this very carefully as the instructions are for ensuring
that you get the best of experiences here. This will be followed by a gear check before you put it on.
Then the rafts are lowered in the river and everyone climbs in it. And then, you raft. </p>

<p><strong>Starting Point:</strong> Bajaura</p>    
<p><strong>End Point:</strong> Jhiri </p>

<p>If you are looking for something that can set your soul free and 
can take you on an exciting, bumpy ride, a rafting adventure in Kullu 
is sure made for you.
</p>
<p><strong>Note:</strong> Timings depends on water flow.</p>


              <div style="margin-top:20px; font-size:1.5em;"><strong>Things To Carry:</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Sunscreen</p>
<p><i class="chevron right icon"></i>Comfortable shoes</p>
<p><i class="chevron right icon"></i>Extra Set of Clothes</p>


</div>

</div>
    

  </div>
  </div>
   <div class="container">
  <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
packages( per person )
  </h2>
  

<table class="ui celled unstackable table" style="margin-top:15px; font-size:1.3em;">
  <thead>
    <tr><th>Distance</th>
    <th>Cost</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>5 Km</td>
      <td><i class="rupee sign fitted icon"></i>600/person</td>
      
    </tr>
    <tr>
      <td>7 Km</td>
      <td><i class="rupee sign fitted icon"></i>700/person</td>
     
    </tr>
    <tr>
      <td>9 Km</td>
      <td><i class="rupee sign fitted icon"></i>900/person</td>
  
    </tr>
  </tbody>

</table>


  <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
packages(common boat- 8 persons)
  </h2>
  
 
<table class="ui celled unstackable table" style="margin-top:15px; font-size:1.3em;">
  <thead>
    <tr><th>Distance</th>
    <th>Cost</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>5 Km</td>
      <td><i class="rupee sign fitted icon"></i>3000/boat</td>
      
    </tr>
    <tr>
      <td>7 Km</td>
      <td><i class="rupee sign fitted icon"></i>3500/boat</td>
     
    </tr>
    <tr>
      <td>9 Km</td>
      <td><i class="rupee sign fitted icon"></i>4000/boat</td>
  
    </tr>
  </tbody>

</table>
</div>

             <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>

<h2 class="ui  divider" style="margin-top:10px; margin-bottom:30px; text-decoration:underline;">

  </h2>
  
  



<div class="ui three stackable cards">
  <% include partials/camps.ejs %>
      <% include partials/paragliding.ejs %>
        <% include partials/guest.ejs %>


  </div>



    <% include partials/footer.ejs %>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b3dcc8df30a3a9b" async></script>


</body>
</html>

