
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Camps:</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>       	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
   #more:hover {
     
    font-size:1.7em;
   }
   .navbar.navbar-default {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  
</style>

</head>
<body>

    <nav class="navbar  transparent navbar-default">
  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/Camps-Activities" style="font-size:2.5em;">Kishna Camps</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar" class="page-header">
        <ul class="nav navbar-nav">
          <li><a href="/trek/treks" style="font-size:1.5em;">Camps & Treks</a></li>
          <li><a href="https://parasharlakekishnacamp.herokuapp.com/trek/rafting" style="font-size:1.5em;">River Rafting</a></li>
          <li><a href="https://parasharlakekishnacamp.herokuapp.com/trek/paragliding" style="font-size:1.5em;">Paragliding</a></li>
          <li><a href="https://parasharlakekishnacamp.herokuapp.com/trek/leisure" style="font-size:1.5em;">Leisure</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:1.5em;">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://parasharlakekishnacamp.herokuapp.com/trek/guest-house">Guest House</a></li>
              
              <li><a href="/Camps-Activities/#contact">Hire Bike & Taxi</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
 </nav>  



<div class="container">
<div class="ui divided items">
    <!-------------t1A trek------------>
    
    <div  class="item" >
    <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_20/v1531496486/tiny_21_compressed.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <div style="margin-top:10px; margin-left:10px;" class="header">Mandi to Prashar Lake to Bajura </div>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">
           <p>Rs3200/adult</p>
           </button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Prashar Lake</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>2 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>1 Night</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i> Expert Tour Guide</p>
        <p><i class="check green circle outline icon"></i>Includes River Rafting</p>
      </div>
        <div class="ui statistics " >
          <div class="statistic">
                    <div class="value">
		                <i class="taxi orange small fitted icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Pick Up & Drop
              </div>
            </div>
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="fire orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Bonfire
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/Mandi-to-PrasharLake-Bajaura-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
  
    
    
    
    
    
        <!--<-------------------------t1 trek--------------->

  <div  class="item" >
    <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529939543/Kishna%20Camps/CampsAndTreks/B1J3TPspzAau37sy_izs8uBZDzGUl0M18NrcG0EVSYmbV3WKF9E73mz7Z6XeJB-ofofoIG1WQ5NyCg_w1140-h641-rw-no.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <div style="margin-top:10px; margin-left:10px;" class="header">Mandi to Prashar Lake Trek</div>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">
          <p>Starting from</p>  <p>Rs2000/adult</p>
           </button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Prashar Lake</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>2 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>1 Night</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i> Expert Tour Guide</p>
        <p><i class="check green circle outline icon"></i>Perfect Mixture of Camping and Offbeat</p>
      </div>
        <div class="ui statistics " >
          <div class="statistic">
                    <div class="value">
		                <i class="taxi orange small fitted icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Pick Up & Drop
              </div>
            </div>
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="fire orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Bonfire
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/Mandi-to-PrasharLake-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
  
  <!-------------------------2nd trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_80/v1529937640/tiny_22.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <div style="margin-top:10px; margin-left:10px;" class="header">Bagi to Prashar Lake Trek</div>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">
           <p>Starting from</p><p> Rs1500/adult</p> 
         </button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Prashar Lake</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>1 Day<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>1 Night</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i> Expert Tour Guide</p>
        <p><i class="check green circle outline icon"></i>Impeccable Quality Assured</p>
      </div>
       
        <div class="ui statistics " >
        
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
                    <div class="statistic">
                    <div class="value">
		                <i class="paw orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              8 K.M.<p>(one side)</p>
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="fire orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Bonfire
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/Bagi-PrasharLake-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
  
  

   
  <!-------------------------4th trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530510669/TC5luJcmzlarxraWJ2a27Gx0GChU20R-QZrwSkqPmtpU9TSqxcQkJo9Nxpjo_dT6TSPULKqAAkg-cA_w1280-h731-rw-no.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <span style="margin-top:10px; margin-left:10px;" class="header">Bagi to Prashar Lake to Mchhodri Mata Trek</span>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">Rs2600/adult</button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i>  Mchhodri Mata</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>3 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>2 Nights</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i>Instant Confirmation </p>
        <p><i class="check green circle outline icon"></i>Expert Guide</p>
      </div>
       
        <div class="ui statistics " >
        
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="paw orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              12 K.M.<p>(one side)</p> 
              </div>
            </div>
                <div class="statistic">
                    <div class="value">
		                <i class="medkit orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              First Aid
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="user outline orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Expert Guide
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/Bagi-PrasharLake-MchhodriMata-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
   
   <!-------------------------(4-A)th trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_38/v1530512657/Parashar_20Temple.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <span style="margin-top:10px; margin-left:10px;" class="header">Prashar Lake to Mchhodri Mata Trek</span>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">Rs900/adult</button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i>  Mchhodri Mata</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>2 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>1 Night</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i>Instant Confirmation </p>
        <p><i class="check green circle outline icon"></i>Expert Guide</p>
      </div>
       
        <div class="ui statistics " >
        
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="paw orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              4 K.M.<p>(one side)</p>
              </div>
            </div>
                <div class="statistic">
                    <div class="value">
		                <i class="medkit orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              First Aid
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="user outline orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
             Expert Guide
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/PrasharLake-MchhodriMata-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
   
   
   
   <!-------------------------5th trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530641452/VMFzqglBFgjKO6wi0soXSla6b1i_OnF7lVSw2dlYnEeEf5sPsKRO-E7jVd_zVSxJM8pGT9jgoNqWuvZz0RqBGIsdPLSZG7php3qD8Q_w720-h405-rw-no.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <span style="margin-top:10px; margin-left:10px;" class="header">Bagi To Prashar Lake To Tunga Mata Trek</span>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">Rs3100/adult</button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Tunga Mata</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>3 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>2 Nights</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i>Instant Confirmation </p>
        <p><i class="check green circle outline icon"></i>Impeccable Quality Assured</p>
      </div>
       
        <div class="ui statistics " >
         <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
            <div class="statistic">
                    <div class="value">
		                <i class="paw orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
          14 K.M.<p>(one side)</p>
              </div>
            </div>
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              
                <div class="statistic">
                    <div class="value">
		                <i class="user outline orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Expert Guide
              </div>
            </div>
            
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/Bagi-PrasharLake-TungaMata-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
   
   <!-------------------------5A th trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530641400/n2XSNlfZNg3b7X1UtBEC67krBngsuWQdS6TCTDgYDMWqGbIsAf5iOm4B3Aej8PFZN5zzasiLTDCRZTix98iCo7VGUGtOhvbInLYX3g_w720-h405-rw-no.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <span style="margin-top:10px; margin-left:10px;" class="header"> Prashar Lake To Tunga Mata Trek</span>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">Rs1600/adult</button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Tunga Mata</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>2 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>1 Night</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i>Instant Confirmation </p>
        <p><i class="check green circle outline icon"></i>Impeccable Quality Assured</p>
      </div>
       
        <div class="ui statistics " >
         <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
            <div class="statistic">
                    <div class="value">
		                <i class="paw orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
          6 K.M.<p>(one side)</p>
              </div>
            </div>
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              
                <div class="statistic">
                    <div class="value">
		                <i class="user outline orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Expert Guide
              </div>
            </div>
            
          </div>
          
       <button style="margin-top:7px " class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/PrasharLake-TungaMata-Trek" style="color:darkorange;">Know More</a></button>


    </div>

  </div>
   
    <!-------------------------6th trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529938108/Kishna%20Camps/CampsAndTreks/jWeq0La5VINYMdILjyfaRnkiS6vd12lrS0KQXsn2QYqkpFfG09wllb6qg_nRqzPaOAfxKVyK0olbInzQEpTDwLybFCH7vzngh-RK_w1224-h690-rw-no.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <span style="margin-top:10px; margin-left:10px;" class="header">Bagi to Prashar Lake to Shehla Mata Trek</span>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">Rs3100/adult</button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Shehla Mata</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>3 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>2 Nights</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i>Instant Confirmation </p>
        <p><i class="check green circle outline icon"></i>Impeccable Quality Assured</p>
      </div>
       
        <div class="ui statistics " >
        
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="fire orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Bonfire
              </div>
            </div>
                <div class="statistic">
                    <div class="value">
		                <i class="user outline orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Guide
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px; margin-bottom:10px;" class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/Bagi-PrasharLake-ShehlaMata-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>  
   
   
   <!-------------------------6Ath trek-------------------------->
    <div  class="item">
     <div class="ui big image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_23/v1531494101/tiny_jpg_15_2_compressed.jpg" >
    </div>
    <div class="content" style="font-size:1.3em;background:linen;">
      <span style="margin-top:10px; margin-left:10px;" class="header">Prashar Lake to Shehla Mata Trek</span>
      <div class="meta" style="margin-left:10px;">
         <button class="ui huge red right floated button">Rs1600/adult</button>
        <p><span><i class="map marker alternate circular fitted orange icon"></i> Shehla Mata</span></p>
        <p><i class="fa fa-sun-o" aria-hidden="true"></i>1 Days<strong> |</strong><i class="fa fa-moon-o" aria-hidden="true"></i>1 Night</p>
       
      </div>
      <div class="description" style="margin-left:10px; margin-bottom:10px;">
        <p><i class="check green circle outline icon"></i>Instant Confirmation </p>
        <p><i class="check green circle outline icon"></i>Impeccable Quality Assured</p>
      </div>
       
        <div class="ui statistics " >
        
            <div class="statistic">
                    <div class="value">
		                 <i class="utensil orange small spoon icon fitted"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Meals
              </div>
            </div>
              <div class="statistic">
                    <div class="value">
		                <i class="fire orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Bonfire
              </div>
            </div>
                <div class="statistic">
                    <div class="value">
		                <i class="user outline orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Guide
              </div>
            </div>
             <div class="statistic">
                    <div class="value">
		                <i class="binoculars orange fitted small icon"></i>
                   </div>
            	<div class="label"  style="font-size:12px;">
              Sight Seeing
              </div>
            </div>
          </div>
          
       <button style="margin-top:7px; margin-bottom:10px;" class="ui basic orange massive button fluid "><a id="more" href="https://parasharlakekishnacamp.herokuapp.com/treks/PrasharLake-ShehlaMata-Trek" style="color:darkorange;">Know More</a></button>


  
    </div>

  </div>
   

  
</div>
</div>


</body>
</html>
