<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mandi to Prashar Lake to Bajaura Trek
</title>
<meta property="og:image" content="https://res.cloudinary.com/dzdj5vlz4/image/upload/c_scale,h_200,q_57,w_200/v1529939543/Kishna%20Camps/CampsAndTreks/B1J3TPspzAau37sy_izs8uBZDzGUl0M18NrcG0EVSYmbV3WKF9E73mz7Z6XeJB-ofofoIG1WQ5NyCg_w1140-h641-rw-no.jpg"/>  


<% include partials/header.ejs %>  




<div class="ui big breadcrumb">
  <a class="section" href="https://parasharlakekishnacamp.com/Camps-Activities">Home</a>
  <div class="divider"> / </div>
  <a class="section" href="https://parasharlakekishnacamp.com/trek/treks">CampsAndTreks</a>
  <div class="divider"> / </div>
  <div class="active section">Mandi to Bajura Pkg</div>
</div> 



<div class="ui one column grid">
  <div class="column">

      <div class="trekheadline">
        <p>Mandi to Prashar Lake to Bajura
        Package </p>
      </div>
      
           <h2 class="ui horizontal divider" style="margin-top:10px; margin-bottom:1px;">
IMAGES
  </h2>
            
           <div class="ui two stackable cards" style="margin-top:10px;">
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529939543/Kishna%20Camps/CampsAndTreks/B1J3TPspzAau37sy_izs8uBZDzGUl0M18NrcG0EVSYmbV3WKF9E73mz7Z6XeJB-ofofoIG1WQ5NyCg_w1140-h641-rw-no.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529925131/IMG-20180621-WA0004-01.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529939227/Kishna%20Camps/CampsAndTreks/C7Pk9dSQkd3FVQfeo6E9h2DodJRMXSQZrEjzwLo0rWA8Qol7UU2rVhNXuA4Uw2xVoC_zB5Xh36xQZNxDt21K2MqD_WrV2PLdEfGn_w1224-h687-rw-no.jpg">
    </div>
  </div>
      



</div>


 <div class="ui two column stackable padded grid">
    <div class=" column">
       <div class="ui raised fluid card" >
      <div class="content" style="font-size:1.1em;">
        <div class="header" style="font-size:2em";>
            MANDI TO PRASHAR LAKE TO BAJURA
       </div> 
       


            <p><span style="font-size:1.1em;"><i class="map marker alternate fitted orange icon"></i> Bajura</span></p>
            
            
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
            
    

      <div style="margin-top:15px; background:bisque; font-size:1.3em; margin-bottom:15px;">
         
       <p><i class="check green  outline icon"></i>Expert Tour Guide</p>
       <p><i class="check green  outline icon"></i>Impeccable Quality Assured</p>
       <p><i class="check green  outline icon"></i>Perfect Mixture of Camping and Offbeat</p>
       </div>
        <div style="margin-top:20px; font-size:1.5em;"><strong>Overview </strong></div>
        <div style="margin-top:10px;">
<p>The Prashar Lake trek will give you a feeling of isolation from the rest of the world 
as some of the trails are hidden from the human eye.  </p>

<p>You'll arrive at Bajaura( for river rafting )  and get 
the briefing on the activity. You must listen to this very carefully as the instructions are for ensuring
that you get the best of experiences here. This will be followed by a gear check before you put it on.
Then the rafts are lowered into river and everyone climbs in it. And then, you raft. </p>

<p><strong>Note:</strong> Minimum people required to book 5</p>

              <div style="margin-top:20px; font-size:1.5em;"><strong>Itinerary</strong></div>
              <div class="container">
               <div style="margin-top:15px; font-size:1.1em;"><strong>DAY 1</strong></div>
        <div style="margin-top:10px;">
                        <div class="container">
<p><i class="mini circle icon"></i>Mandi to Bagi in a Taxi.</p>

<p><i class="mini circle icon"></i>After reaching Bagi, freshen up and admire the surroundings.</p>
<p><i class="mini circle icon"></i>A Complimentary Breakfast for you at Bagi.</p>
<p><i class="mini circle icon"></i>It is advised that you take your time acclimatize to the weather here.</p>
<p><i class="mini circle icon"></i>Packed lunch will be provided.</p>
<p><i class="mini circle icon"></i>Start Trekking to Kishna Camps,which is 2 km away from Lake.</p>
<p><i class="mini circle icon"></i>Enjoy your dinner and overnight camping with soups & Bonfire.</p>

</div>
</div>
<div style="margin-top:15px; font-size:1.1em;"><strong>DAY 2</strong></div>
<div style="margin-top:10px;">
     <div class="container">
  <p><i class="mini circle icon"></i>After a scrumptious breakfast, start your trek to Prashar Lake in the morning.</p>
  <p style="word-wrap: break-word;"><i class="mini circle icon"></i>After spending a good amount of time at the Lake, proceed to Bajura.</p>
  <p><i class="mini circle icon"></i>After arriving at Bajaura in Taxi for rafting, relax a bit.</p>
  <p><i class="mini circle icon"></i>Then after a proper gear check, take your raft and enjoy rafting.</p>
  <p><i class="mini circle icon"></i>An expert will accompany you during rafting.</p>

</div>
</div>
</div>
<p style="margin-top:20px;  "><strong>Stay in Camps:</strong>twin or triple sharing basis</p>
<p><strong>Note:</strong> Timings depends on water flow.</p>

              <div style="margin-top:20px; font-size:1.5em;"><strong>Things To Carry:</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Basic medication (if any)</p>
<p><i class="chevron right icon"></i>Good quality trekking shoes, slippers and extra pair of socks</p>
<p><i class="chevron right icon"></i>Caps or hats</p>
<p><i class="chevron right icon"></i>Energy bars/snacks</p>
<p><i class="chevron right icon"></i>Flashlight (with spare batteries)</p>
<p><i class="chevron right icon"></i>Warm and comfortable clothes</p>
<p><i class="chevron right icon"></i>Sunscreen lotion</p>
<p><i class="chevron right icon"></i>A pair of sunglasses</p>

</div>

             <div style="margin-top:20px; font-size:1.5em;"><strong>Advisory -</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Avoid heavy packing, travel light.</p>
<!--<p><i class="chevron right icon"></i> Maximum weight allowed for the participant is a 100 kg</p>-->
<p><i class="chevron right icon"></i> Track Pants should be preferred over jeans during the activity.</p>
<!--<p><i class="chevron right icon"></i> Wear sturdy proper fitting boots so as to avoid frost bites</p>-->
</div>





</div>
    </div> 
 
    </div>

  </div>
 

  
      <div class="column">
<div class="ui  container">
  
<div class="ui  comments">
  <h3 class="ui dividing header">Comments</h3>
  <% camp.comments.forEach(function(c){ %>
   <div class="comment">
      <div class="content">
         <div class="author" style="font-size:1.3em;"><%= c.author %></div>
          <div class="text" style="font-size:1.1em;">
       <%= c.text %>
      </div>
        
        </div>
     </div>

    
<% }); %>

<a href="/treks/Mandi-to-PrasharLake-Bajaura-Trek/comment/new" class="ui big blue button">Add new comment</a>

</div>
 
</div>
</div> 
  
  

  </div>



<h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;text-decoration:underline;">
price
  </h2>
  <div class="ui centered card">

               <div class="ui orange cards">
  <div class="card">
    <div class="content" style="text-align:center; font-size:1.2em;">
      <div class="header"><i class="rupee sign fitted icon"> </i> 3200/person</div>

   
    </div>
  </div>
  </div>
  </div>


  
     <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>

<h2 class="ui  divider" style="margin-top:10px; margin-bottom:30px; text-decoration:underline;">

  </h2>
  
         </div>

<div class="ui three stackable cards">
        <% include partials/rafting.ejs %>
  <% include partials/paragliding.ejs %>
        <% include partials/guest.ejs %>


  </div>


 </div>
 <% include partials/footer.ejs %>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b3dcc8df30a3a9b"></script>
</body>
</html>
