
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prashar Lake to Tunga Mata Trek
</title>
<meta property="og:image" content="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530641400/n2XSNlfZNg3b7X1UtBEC67krBngsuWQdS6TCTDgYDMWqGbIsAf5iOm4B3Aej8PFZN5zzasiLTDCRZTix98iCo7VGUGtOhvbInLYX3g_w720-h405-rw-no.jpg"/>  


<% include partials/header.ejs %> 

   
   
   
<div class="ui one column grid">
  <div class="column">

      <div class="trekheadline">
        <span>Prashar Lake<i class="exchange icon"></i>Tunga Mata</span>
        <p>Package</p> 
      </div>
      
           <h2 class="ui horizontal divider" style="margin-top:10px; margin-bottom:1px;">
IMAGES
  </h2>
            
           <div class="ui two stackable cards" style="margin-top:10px;">
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530641400/n2XSNlfZNg3b7X1UtBEC67krBngsuWQdS6TCTDgYDMWqGbIsAf5iOm4B3Aej8PFZN5zzasiLTDCRZTix98iCo7VGUGtOhvbInLYX3g_w720-h405-rw-no.jpg">

    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530641452/VMFzqglBFgjKO6wi0soXSla6b1i_OnF7lVSw2dlYnEeEf5sPsKRO-E7jVd_zVSxJM8pGT9jgoNqWuvZz0RqBGIsdPLSZG7php3qD8Q_w720-h405-rw-no.jpg">

    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530641428/RETduepkCGbF2gT8waU2oKB0X_gWKYEAeRMfDTL80B_ys0OMoMIsU7CmkTJw-6Qd1bnLk2EVIK9DSIYEbyDlYiFWtljPqPEVZUTbPw_w720-h405-rw-no.jpg">

    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_100/v1530641472/E9jj-XtKUy1rfNr8MVdjqUc4BkDCKWdTG-Rdi8DN96pzzthrf5hPDytG5x2-RW1N2ynH9Dx0WT7Kw5BE4-gBAt3aEl9BPutE-SvdlA_w720-h405-rw-no.jpg">

    </div>
  </div>
  </div>    

 <div class="ui two column stackable padded grid">
    <div class=" column">
       <div class="ui raised fluid card" >
      <div class="content" style="font-size:1.1em;">
        <div class="header" style="font-size:2em";>
        PRASHAR LAKE to TUNGA MATA  
       </div>  <p><span style="font-size:1.1em;"><i class="map marker alternate fitted orange icon"></i> Tunga Mata</span></p>
       
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
       
       <div class="ui four column wide grid">
       <div class="item">
      <div style="margin-top:15px; background:bisque; font-size:1.3em; margin-bottom:15px;">
         
       <p><i class="check green  outline icon"></i>Expert Tour Guide</p>
       <!--<p><i class="check green  outline icon"></i>Impeccable Quality Assured</p>-->
       <p><i class="check green  outline icon"></i>Perfect Mixture of Camping and Offbeat</p>
       </div></div> </div>
        <div style="margin-top:20px; font-size:1.5em;"><strong>Overview </strong></div>
        <div style="margin-top:10px;">
          
<p>Each and every step of the trek is bestowed with astounding views of the towering 
peaks and makes it for an unforgettable experience! </p>
<p>The Prashar Lake trek will give you a feeling of isolation from the rest of the world 
as some of the trails are hidden from the human eye.  </p>


<p><strong>Note:</strong> Minimum people required to book 5</p>



              <div style="margin-top:20px; font-size:1.5em;"><strong>Itinerary</strong></div>
              <div class="container">

<div style="margin-top:15px; font-size:1.1em;"><strong>DAY 1</strong></div>
<div style="margin-top:10px;">
     <div class="container">
    <p><i class="mini circle icon"></i>Reach to Prashar Lake by your own private vehicle.</p>
  <p><i class="mini circle icon"></i>After spending a good amount of time at the Lake, start trek to Tunga Mata</p>
  <p><i class="mini circle icon"></i>At night, be amused by local cuisine dinner with Bonfire & Camping.</p>
</div>
</div>
<div style="margin-top:15px; font-size:1.1em;"><strong>DAY 2</strong></div>
<div style="margin-top:10px;">
  <div class="container">
    <p><i class="mini circle icon"></i>After a delicious breakfast, start descending and return at Lake.</p>
    <p><i class="mini circle icon"></i>Here Trek Ends.</p>
  </div>
</div>
</div>
<p style="margin-top:20px;  "><strong>Stay in Camps:</strong> Twin or triple sharing basis</p>

              <div style="margin-top:20px; font-size:1.5em;"><strong>Things To Carry:</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Basic medication (if any)</p>
<p><i class="chevron right icon"></i>Good quality trekking shoes, slippers and extra pair of socks</p>
<p><i class="chevron right icon"></i>Caps or hats</p>
<p><i class="chevron right icon"></i>Energy bars/snacks</p>
<p><i class="chevron right icon"></i>Flashlight (with spare batteries)</p>
<p><i class="chevron right icon"></i>Warm and comfortable clothes</p>
<p><i class="chevron right icon"></i>Sunscreen lotion</p>
<p><i class="chevron right icon"></i>A pair of sunglasses</p>
</div>

             <div style="margin-top:20px; font-size:1.5em;"><strong>Advisory -</strong></div>
        <div style="margin-top:10px;">
<p><i class="chevron right icon"></i>Avoid heavy packing, travel light.</p>
<!--<p><i class="chevron right icon"></i> Maximum weight allowed for the participant is a 100 kg</p>-->
<p><i class="chevron right icon"></i> Track Pants should be preferred over jeans during the activity</p>
<p><i class="chevron right icon"></i> Wear sturdy proper fitting boots so as to avoid frost bites</p>
</div>





</div>
    

  </div>
  </div>

  </div>
        <div class="column">
<div class="ui  container">
  
<div class="ui  comments">
  <h3 class="ui dividing header">Comments</h3>
  <% camp.comments.forEach(function(c){ %>
   <div class="comment">
      <div class="content">
         <div class="author" style="font-size:1.3em;"><%= c.author %></div>
          <div class="text" style="font-size:1.1em;">
       <%= c.text %>
      </div>
        
        </div>
     </div>

    
<% }); %>

<a href="/treks/PrasharLake-TungaMata-Trek/comment/new" class="ui big blue button">Add new comment</a>

</div>
</div>
</div>
  </div>



<h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;text-decoration:underline;">
price
  </h2>
  <div class="ui centered card">

               <div class="ui orange cards">
  <div class="card">
    <div class="content" style="text-align:center;">
         <div class="header">Rs 1600/person</div>

      
   
    </div>
  </div>
  </div>
  </div>

     <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>

<h2 class="ui  divider" style="margin-top:10px; margin-bottom:30px; text-decoration:underline;">

  </h2>


            </div>

<div class="ui three stackable cards">
        <% include partials/rafting.ejs %>
  <% include partials/paragliding.ejs %>
        <% include partials/guest.ejs %>


  </div>
 </div>

 <% include partials/footer.ejs %>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b3dcc8df30a3a9b"></script>

</body>
</html>

  
 
