

  <div class="card" style="background:black;">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_25/v1530857170/IMG-20180621-WA0016-02-01-01.jpg" alt="Trek & Camps">
    </div>
   
    <div class="content">
             <div class="center aligned" style="font-size:1.5em; color:limegreen;">From <i class="rupee sign fitted icon"></i> 900/Adult</div>
<center>

     <div class="center aligned">
         <button class="ui green big button" style="margin-top:15px;"><a href="https://parasharlakekishnacamp.com/trek/treks" style="color:white;" >Explore</a></button>
         </div>
    </div>
    
  </div>