<div class="card" style="background:black;">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_60/v1531332116/tiny_jpg_14_compressed.jpg" alt="guest house">
    </div>
   
    <div class="content">
     <div class="center aligned" style="font-size:1.5em; color:mediumpurple;"><i class="rupee sign fitted icon"></i> 2000/Night</div>
<center>

     <div class="center aligned" >
         <button class="ui  big button" style="margin-top:15px; background:rebeccapurple"><a href="/trek/guest-house" style="color:white;">Know More</a></button></button>
         </div>
    </div>

  </div>