<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>Kishna Camps & Activities</title>-->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" type="text/css">

<style>

  .ui.accordion {
  duration: 50000ms;
}
/*.navbar {*/
/*    background:transparent;*/
/*}*/

.navbar.navbar-default {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.trekheadline{
  text-align: center;

  font-size:3em;
  margin-top:30px;
font-family: 'Vollkorn', serif;
color: cornflowerblue;  /* fallback for old browsers */
}

</style>

</head>
<body>
    <div class="container-fluid" >
    <nav class="navbar  transparent navbar-default">
  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://parasharlakekishnacamp.com/Camps-Activities" style="font-size:2.5em;">Kishna Camps</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar" class="page-header">
        <ul class="nav navbar-nav">
          <li><a href="https://parasharlakekishnacamp.com/trek/treks" style="font-size:1.5em;">Camps & Treks</a></li>
          <li><a href="/trek/rafting" style="font-size:1.5em;">River Rafting</a></li>
          <li><a href="/trek/paragliding" style="font-size:1.5em;">Paragliding</a></li>
          <li><a href="/trek/leisure" style="font-size:1.5em;">Leisure</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:1.5em;">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/trek/guest">Guest House</a></li>
          
               <li><a href="https://parasharlakekishnacamp.com/Camps-Activities/#contact">Hire Bike & Taxi</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
 </nav> 
  