<div class="card" style="background:black;">
    <div class="image" style="margin-top:0px;">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/q_30/v1531331945/tiny_jpg_13.jpg" alt="paragliding">
    </div>

    <div class="content">
     <div class="center aligned" style="font-size:1.5em; color:orange; margin-top:10px;"><i class="rupee sign fitted icon"></i> 3000/Adult</div>
<center>
      <button class="ui big orange button" style="margin-top:15px;"><a href="/trek/paragliding" style="color:white;">Explore</a> </button>
     </center>
    </div>
    
  </div>