

  <div class="card" style="background:black;">
    <div class="image">
      <img src="http://res.cloudinary.com/dzdj5vlz4/image/upload/v1530818357/IMG-20180621-WA0038-03-02.jpg">
    </div>

    <div class="content">
     <div class="center aligned" style="font-size:1.5em; color:deepskyblue;">From <i class="rupee sign fitted icon"></i> 600/Adult</div>
<center>
      <button class="ui big blue button" style="margin-top:15px;"><a href="/trek/rafting" style="color:white;">Explore</a> </button>
     </center>
    </div>
    
  </div>